@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
    transition: 5s ease-in-out;
}
  
::-webkit-scrollbar-thumb {
    background: var(--nav-text-color);
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: var(--nav-text-color-hover);
    border-radius: 10px;
}
        
::-webkit-scrollbar-track {
    background-color: #11111100;
}

:root {
    --default-font-family: 'Poppins', sans-serif;
    --text-color: #47372d;
    --bg-color: #b8cacc;
    --bg-color-bar: #252422;
    --nav-text-color: #ff510c;
    --nav-text-color-hover: #ff7b47;
    --background-image: url(images/bgimgL.jpg);
    --logo-image: url(images/weblogoL.png);
    --logo-bg: #e3e3e3d5;
    --dropdown-color: linear-gradient(270deg, #ffa763 0%, #7ebede 26%);
    --bg-hamburger: #b8caccf9;
}

.dark {
    --text-color: #fdfdfd;
    --bg-color: #27272f;
    --bg-color-bar: #00bfff;
    --nav-text-color: #00bfff;
    --nav-text-color-hover: #84eaff;
    --background-image: url(images/bgimgD.jpg);
    --logo-image: url(images/weblogoD.png);
    --logo-bg: #33333b;
    --dropdown-color: linear-gradient(270deg, rgba(52,111,177,1) 0%, rgba(46,49,105,1) 27%);
    --bg-hamburger: #27272ff9;
}

body {
    font-family: var(--default-font-family);
    color: var(--text-color);
    background: var(--bg-color);
    transition: all .5s ease-in-out;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    height: 70px;
    width: 100%;
    backdrop-filter: blur(8px);
    z-index: 9999;
}

.nav-logo {
    height: 50px;
    width: 50px;
    background-image: var(--logo-image);
    background-size: cover;
    background-position: center;
    transition: .8s ease;
}

.nav-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--default-font-family);
}

.nav-item {
    margin: 0 40px;
}

.nav-link {
    position: relative;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--nav-text-color);
    text-transform: uppercase;
    padding: 3px;
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: var(--nav-text-color-hover);
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--bg-color-bar);
}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: 0 20px;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 80px;
        flex-direction: column;
        background: var(--bg-hamburger);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        padding-bottom: 20px 0 ;
    }

    .nav-menu.active {
        left: 0;
        padding: 100px 0 100px 0;
    }

    .nav-item {
        margin: 20px 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* button for dark mode */
.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    margin: 0;
    border: 2px #e0e0e0 solid;
    border-radius: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f500;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
    transition: .4s;
}

input:checked+.slider {
    background-color: #19191b;
    border: 2px #19191b solid;
}

input:checked+.slider:before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    background: #19191b;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

/* HOME STYLE */
.intro {
    font-family: 'Poppins', sans-serif;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    transition: .8s ease;
}

.intro-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.intro-text {
    padding: 0 20px;
    text-align: center;
}

.intro-title h1 {
    color: var(--text-color);
    font-size: 6.5rem;
    font-weight: 600;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: 10px;
    transition: 0.8s ease;
}

.intro-subtitle h4 {
    font-size: 25px;
    font-weight: 300;
    transition: 0.1s ease;
}

.intro-subtitle h4 span {
    color: var(--nav-text-color);
    font-weight: 500;
    transition: 0.8s ease;
}

.intro .indicator {
    position: relative;
    top: -10%;
    width: 100%;
    height: 150px;
}  

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  top: 20%;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid; }

.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow; }

@keyframes arrow {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px); } 
}

@media only screen and (max-width: 425px) {
    .intro .intro-title h1 {
        font-size: 4rem;
        line-height: 55px;
        letter-spacing: 0;
    }

    .intro .intro-subtitle h4 {
        font-size: 15px;
    }
}


@media only screen and (max-width: 768px) {
    .intro-title h1 {
        font-size: 5.5rem;
        line-height: 65px;
        letter-spacing: 5px;
    }

    .intro-subtitle h4 {
        font-size: 20px;
    }
}

/* Style for moving icons */
@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
}
  
.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 300px;
    height: 100%;
    content: "";
    z-index: 2;
}
  
.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--bg-color));
    transition: .8s ease;
}
  
.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--bg-color));
    transition: .8s ease;
}
  
.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}
  
.logos-slide img {
    height: 90px;
    width: 90px;
    margin: 0 40px;
    padding: 20px;
    overflow: hidden;
    object-fit: contain;
    background: var(--logo-bg);
    border-radius: 50%;
    filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.5));
    transition: .8s ease;
}

@media screen and (max-width: 480px) {
    .logos:before,
    .logos:after {
        width: 100px;
    }

    .logos-slide img {
        height: 70px;
        width: 70px;
        padding: 10px;
    }
}


/* WHO page styles */
.who {
    height: auto;
    margin: 3rem 0;
    padding: 3rem 0;
}

.who-content {
    z-index: 2;
}

.box {
    margin: 0 0 0 100px;
    width: 5em;
    height: 5em;
    background: linear-gradient(45deg, rgba(255,167,99,1) 0%, rgba(126,190,222,1) 100%);
    transform: translateX(var(--tx)) rotate(var(--r));
    transition: transform .1s linear;
    will-change: transform;
    overflow: hidden;
}

.who-title h2 {
    color: var(--nav-text-color);
    padding-left: 2rem;
    font-size: 5rem;
}

.who-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.who-item {
    width: 50%;
    padding: 0 4rem 0 0;
}

.who-content h3 {
    font-size: 2rem;
    font-weight: 400;
}

.who-content h3 span {
    color: var(--nav-text-color);
    text-transform: uppercase;
}

.who-content p {
    text-align: justify;
    padding: 10px 0 30px 0;
    font-weight: 300;
}

.who-content-body p::before {
    content: '<p>';
    font-weight: 600;
    color: var(--nav-text-color);
}

.who-content-body p::after {
    content: '<p>';
    font-weight: 600;
    color: var(--nav-text-color);
}

.about-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
  
.about-image img {
    max-height: 250px;
    max-width: 250px;
    border-radius: .5em;
    opacity: 0.7;
    transform: rotate(2deg);
    transition: all 0.2s cubic-bezier(0.2, 0.53, 0, 1);
}
  
.about-image img:hover {
    opacity: 1;
    transform: scale(1.2) rotate(-2deg);
}
/* Separate About Page breakpoint KASI ANGHIRAP GAWIN */
@media screen and (max-width: 992px) {
    .who-container {
      flex-direction: column;
      margin: 20px;
      padding: 0;
    }
    .text-container {
      font-size: 1rem;
      width: 100%;
      margin: 10px;
    }
    .about-image {
      margin: 30px 0px;
    }
}

@media screen and (max-width: 768px) {
    .who-item {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .who-content p {
        padding: 10px 30px 30px 30px;
    }

    .about-image img {
        max-height: 180px;
        max-width: 180px;
    }
}

@media screen and (max-width: 425px) {
    .who-title h2 {
        text-align: center;
    }

    .about-image img {
        max-height: 150px;
        max-width: 150px;
    }
}

@media screen and (max-width: 375px) {
    .who-title h2 {
        font-size: 3.5rem;
    }
    .who-content h3 {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 320px) {
    .about-image img {
        max-height: 130px;
        max-width: 130px;
    }
}
/* Accordion */
.accordion {
    display: block;
    margin: auto;
    width: 50%;
    padding: 5rem 0;
}

.title {
    font-size: 2rem;
    font-weight: 400;
}

.accordion-item {
    margin: 10px 0;
}

.accordion-header {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--dropdown-color);
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.accordion-title {
    font-family: var(--default-font-family);
    font-weight: 400;
    margin: 0;
}

.accordion-title span {
    font-weight: 600;
}

.accordion-icon {
    font-size: 30px;
    transition: transform 0.3s ease;
}

.accordion-content {
    display: flex;
    justify-content: space-evenly;
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    margin: 10px 0 0 0;
    background-color: var(--logo-bg);
    border-radius: 5px;
    transition: max-height 0.3s ease;
}

.accordion-content-text {
    padding: 10px 0;
    width: 70%;
}

.content-header {
    display: flex;
    align-items: center;
}

.content-header h4 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-right: 40px;
}

.content-header i {
    color: var(--nav-text-color);
}

.content-header a {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: underline;
}

.content-body {
    text-align: justify;
    padding: 10px;
    width: 100%;
}

.content-body::before {
    content: '<p>';
    font-weight: 600;
    color: var(--nav-text-color);
}

.content-body::after {
    content: '<p>';
    font-weight: 600;
    color: var(--nav-text-color);
}

.school-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.school-logo img {
    height: 100px;
}


@media screen and (max-width: 1024px) {
    .accordion {
        width: 70%;
    }

    .content-header h4 {
        margin-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    .accordion {
        width: 90%;
    }

    .content-header h4 {
        margin-right: 10px;
    }

    .accordion-item .accordion-content {
        flex-direction: column-reverse;
    }
    .content-header {
        flex-direction: column;
    }
    .accordion-content-text {
        width: 100%;
    }
}

@media screen and (max-width: 426px) {
    .content-body {
        padding: 0 35px;
    }
    .school-logo {
        padding: 10px 0;
    }
}

@media screen and (max-width: 375px) {
    .content-body {
        padding: 0 15px;
    }
}
