@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
    transition: 5s ease-in-out;
}
  
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

:root {
    --logo-image: url(images/weblogoL.png);
    --default-font-family: Arial, Helvetica, sans-serif;
    --title-font: 'Teko', sans-serif;
    --subheader-font: 'Arial', sans-serif;
    
    --text-color: #262626;
    --active-text: #252422;
    --secondary-text: #131313eb;
    --primary-color: #ff510c;
    --secondary-color: #ff7b47;
    
    --primary-linear: linear-gradient(83.21deg, #fd3300 0%, #ff8a47 100%);
    --secondary-linear: linear-gradient(180deg, #f6f6f6 0%, #00000000 30%);
    --contact-linear: linear-gradient(0deg, #f6f6f6 0%, #00000000 50%);
    --third-linear: linear-gradient(42deg, #ffc800 0%, #F76B1C 100%);
    --radial-grad: radial-gradient( #000000b3, transparent 70%);
    
    --primary-bg: #f6f6f6;
    --secondary-bg: #f7f7f7;
    --accordion-bg: #f1f1f1;
    --drop-color: #f6f6f6;
    --bg-color-bar: #252422;

    --accordion-shadow: 3px 3px 6px #c3c3c3, -5px -5px 6px #f0f0f026;

    --gen-transition: all .3s linear;

    --font-size-h1: 7.451rem; /* 119.21px */
    --font-size-h2: 5.96rem; /* 95.37px */
    --font-size-h3: 4.768rem; /* 76.29px */
    --font-size-h4: 3.815rem; /* 61.04px */
    --font-size-h5: 3.052rem; /* 48.83px */
    --font-size-h6: 2.441rem; /* 39.06px */
    --font-size-large: 1.953rem; /* 31.25px */
    --font-size-medium: 1.563rem; /* 25.00px */
    --font-size-small: 1.25rem; /* 20.00px */
    --font-size-xs: 1rem; /* 16.00px */
    --font-size-xxs: .813rem; /* 16.00px */

    --layer-4: 4;
    --layer-3: 3;
    --layer-2: 2;
    --layer-1: 1;
    --layer-0: -1;

    --card1-bg: #fcfcfc;
    --card2-bg: #fcfcfc;
    --card3-bg: #fcfcfc;
    --card4-bg: #fcfcfc;
    --card5-bg: #fcfcfc;
    --card6-bg: #fcfcfc;
    --card7-bg: #fcfcfc;
    --card8-bg: #fcfcfc;
    
    --el-opa: 0.5;
}

.dark {
    --logo-image: url(images/weblogoD.png);

    --text-color: #fdfdfded;
    --active-text: #ffffff;
    --secondary-text: #fffffff8;
    --primary-color: #00bfff;
    --secondary-color: #00d5ff;
    
    --primary-linear: linear-gradient(83.21deg, #2f40d8 0%, #52b7ee 100%);
    --secondary-linear: linear-gradient(180deg, #121212 0%, #00000000 20%);
    --contact-linear: linear-gradient(0deg, #121212 0%, #00000000 50%);
    --third-linear: linear-gradient(290deg, #ff7ec7 0%, #8662a5 50%, #7cc7fd 100%);
    --radial-grad: radial-gradient(#00000080, transparent 70%);
        
    --primary-bg: #121212;
    --secondary-bg: #1a1a1bfb;
    --accordion-bg: #252423;
    --drop-color: linear-gradient(83.21deg, #4250c8 0%, #3593c5 100%);
    --bg-color-bar: #00bfff;
    
    --card1-bg: linear-gradient(83.21deg, #4250c8 0%, #3593c5 100%);
    --card2-bg: linear-gradient(83.21deg, #14213d 0%, #cf8000 100%);
    --card3-bg: linear-gradient(83.21deg, #a9a9a9cb 5%, #0b0618 70%);
    --card4-bg: linear-gradient(83.21deg, #4f4f4f 0%, #f1c100 100%);
    --card5-bg: linear-gradient(90deg, rgba(255,78,0,1) 0%, rgb(165, 41, 0) 33%, rgb(123, 145, 0)67%, rgb(230, 176, 0) 100%);
    --card6-bg: linear-gradient(83.21deg, #413D3D 0%, #f0c30e 100%);
    --card7-bg: linear-gradient(83.21deg, #b0b0b096 0%, #252422 100%);
    --card8-bg: linear-gradient(83.21deg, #c1b09f 5%, #4b4032 100%);

    --accordion-shadow: 0;

    --el-opa: 0.7;
}

body {
    font-family: var(--default-font-family);
    color: var(--text-color);
    background: var(--primary-bg);
    transition: var(--gen-transition);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 70px;
    height: 80px;
    width: 100%;
    backdrop-filter: blur(8px);
    z-index: var(--layer-4);
}

.nav-logo {
    height: 50px;
    width: 50px;
    background-image: var(--logo-image);
    background-size: cover;
    background-position: center;
    transition: var(--gen-transition);
}

.nav-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-item {
    margin: 0 40px;
}

.nav-link {
    position: relative;
    font-family: var(--title-font);
    color: var(--primary-color);
    font-size: var(--font-size-xs);
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 3px;
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: var(--secondary-color);
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--bg-color-bar);
}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: 30px;
    }
    
    .nav-link {
        font-size: var(--font-size-large);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 60px;
        flex-direction: column;
        background: var(--secondary-bg);
        width: 100%;
        transition: .8s cubic-bezier(0.52, 0.89, 0, 1.01);;
        padding-bottom: 20px;
    }

    .nav-menu.active {
        left: 0;
        padding: 100px 0 100px 0;
    }

    .nav-item {
        margin: 20px 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* button for dark mode */
.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 1.8em;
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    margin: 0;
    border: 1px #919191 solid;
    border-radius: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f500;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1em);
    width: var(--size-of-icon, 1em);
    border-radius: 15px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #ff0019, #ff8c00 70%);
    transition: .4s;
}

input:checked+.slider {
    background-color: #19191b;
    border: 2px #19191b solid;
}

input:checked+.slider:before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    background: #19191b;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

/* HOME STYLE */
.intro {
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: var(--layer-1);
    transition: var(--gen-transition);
}

.intro-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.intro-text {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px;
    text-align: center;
}

.shape-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    right: 0;
    left: 50%;
    z-index: var(--layer-0);
    align-items: center;
}
  
.el {
    background: var(--third-linear);
    min-height: 70px;
    min-width: 70px;
    opacity: var(--el-opa);
    border-radius: 10%;
}

.intro-title h1 {
    color: var(--text-color);
    font-size: var(--font-size-h3);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 80px;
    transition: 0.8s ease;
    z-index: var(--layer-2);
}

.intro-loc {
    font-family: var(--title-font);
    margin: 20px 0;
}

.intro-loc p span {
    font-size: var(--font-size-large);
    background: var(--primary-linear);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 600;
    transition: var(--gen-transition);
}

.intro-loc i {
    font-size: var(--font-size-medium);
    color: var(--primary-color);
    padding: 0 5px;
}  

.intro-subtitle {
    margin: auto;
    width: 70%;
}

.intro-subtitle h4 {
    font-size: var(--font-size-xs);
    font-weight: 400;
    transition: 0.01s ease;
}

.intro-subtitle h4 span,
.intro-subtitle h4 span a {
    background: var(--primary-linear);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 600;
    transition: var(--gen-transition);
}

.intro .indicator {
    position: relative;
    top: -10%;
    width: 100%;
    height: 150px;
}  

.arrow,
.arrow:before {
    position: absolute;
    left: 50%;
}

.arrow {
    width: 40px;
    height: 40px;
    top: 20%;
    margin: -20px 0 0 -20px;
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 3px var(--text-color) solid;
    border-bottom: 3px var(--text-color) solid;
}

.arrow:before {
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1.5px var(--text-color) solid;
    border-bottom: 1.5px var(--text-color) solid;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: arrow; 
}

@keyframes arrow {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px); } 
}


@media only screen and (max-width: 768px) {
    .intro .intro-title h1 {
        font-size: var(--font-size-h4);
        line-height: 80px;
    }
    
    .intro-subtitle h4 {
        font-size: var(--font-size-xs);
    }

    .intro-text {
        text-align: left;
    }
    
    .intro .intro-title h1 {
        font-size: var(--font-size-h5);
        text-transform: uppercase;
        line-height: 60px;
        letter-spacing: 0;
    }

    .intro-subtitle {
        margin: 0;
        width: 90%;
    }

    .intro .intro-subtitle h4 {
        font-size: var(--font-size-xs);
    }

    .intro-loc {
        margin: 10px 0;
    }

    .el {
        min-height: 40px;
        min-width: 40px;
    }
}
/* WHO page styles */
.who {
    height: auto;
    margin: 30px 0 0 0;
    background: linear-gradient(to right, rgba(111, 111, 111, 0.100) .5px, transparent 1px),
    linear-gradient(to bottom, rgba(111, 111, 111, 0.100) .5px, transparent 1px);
    background-size: 20px 20px;
    background-position: center;
    overflow: hidden;
}

.who-content {
    background: var(--secondary-linear);
    transition: var(--gen-transition);
}

.who-title h2 {
    font-family: var(--title-font);
    color: var(--active-text);
    font-size: var(--font-size-h2);
    font-weight: 600;
    text-align: center;
    transition: var(--gen-transition);
}

.who-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px 0 0 0;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150%;
    width: 150%;
    border-radius: 50%;
    z-index: var(--layer-0);
  
    background: url(images/noise.webp) repeat, var(--primary-linear);
    -webkit-mask-image: var(--radial-grad);
    mask-image: var(--radial-grad);
}

.who-item {
    width: 50%;
    padding: 0 4rem 0 0;
}

.about-content h1 {
    font-family: 'Inter', sans-serif;
    color: var(--active-text);
    font-size: var(--font-size-h5);
    font-weight: 400;
    letter-spacing: -2px;
    transition: var(--gen-transition);
}

.about-content h1 span {
    background: var(--primary-linear);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    transition: var(--gen-transition);
}

.about-content p {
    color: var(--secondary-text);
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-size-xs);
    padding: 0 0 30px 0;
    line-height: 20px;
    font-weight: 400;
    transition: var(--gen-transition);
}

.about-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}

.about-image .img img {
    max-height: 200px;
    max-width: 200px;
    border-radius: .5em;
    opacity: 0.8;
    transition: all 0.2s cubic-bezier(0.2, 0.53, 0, 1);
}

.about-image .img img:hover {
    opacity: 1;
    transform: scale(1.2) rotate(-2deg);
}

@media screen and (max-width: 1024px) {
    .about-content h3 {
        margin: auto;
    }

    .who-container {
      flex-direction: column;
      padding: 0;
    }
    
    .who-container .who-item {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .text-container {
      font-size: var(--font-size-small);
      width: 100%;
      margin: 10px;
    }

    .about-image {
      margin: 30px 0px;
    }
}

@media screen and (max-width: 768px) {
    .who-content p {
        padding: 10px 30px 30px 30px;
    }

    .who-container .about-image .img img {
        max-height: 150px;
        max-width: 150px;
    }

    .who-title h2 {
        font-size: var(--font-size-h3);
    }

    .about-content h1 {
        text-align: left;
        font-size: var(--font-size-large);
        padding-left: 30px;
    }

    .about-content p {
        font-size: var(--font-size-xs);
        text-align: left;
    }

    .about-image .img img {
        max-height: 150px;
        max-width: 150px;
    }
}

@media screen and (max-width: 600px) {
    .about-content p {
        font-size: var(--font-size-xxs);
    }
}


@media screen and (max-width: 375px) {
    .who-content .who-title h2 {
        font-size: 3.5rem;
    }
    .about-content h3 {
        font-size: var(--font-size-small);
    }
}
@media screen and (max-width: 320px) {
    .about-image .img img {
        max-height: 130px;
        max-width: 130px;
    }
}

/* Accordion */
.accordion {
    display: block;
    margin: auto;
    width: 50%;
    padding: 5rem 0;
}

.educ-title {
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: var(--active-text);
    font-size: var(--font-size-h5);
    color: var();
    font-weight: 400;
    letter-spacing: -2px;
}

.accordion-item {
    margin: 10px 0;
}

.accordion-header {
    color: var(--active-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--accordion-bg);
    border: solid var(--drop-color) 1px;
    cursor: pointer;
    padding: 10px;
    border-radius: 2px;
    transition: 0.3s ease;
    box-shadow: var(--accordion-shadow);
}

.accordion-title {
    font-family: var(--title-font);
    color: var(--primary-color);
    font-size: var(--font-size-large);
    font-weight: 500;
    margin: 0;
}

.accordion-title span {
    color: var(--secondary-text);
    font-weight: 400;
}

.accordion-icon {
    font-size: var(--font-size-large);
    transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s;
}

.accordion-content {
    display: flex;
    justify-content: space-evenly;
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    margin: 10px 0 0 0;
    background: var(--drop-color);
    border-radius: 2px;
    transition: max-height 0.5s cubic-bezier(0.53, 0.42, 0.36, 1.05);
    box-shadow: var(--accordion-shadow);
}

.accordion-content-text {
    padding: 10px 0;
    width: 70%;
}

.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--active-text);
}

.content-header h4 {
    font-family: var(--title-font);
    font-size: var(--font-size-large);
    font-weight: 600;
    margin-right: 40px;
}

.content-header i {
    color: var(--primary-color);
}

.content-header a {
    font-family: var(--title-font);
    font-size: var(--font-size-large);
    font-weight: 500;
    color: var(--text-color);
}

.content-header a:hover {
    color: var(--primary-color);
}

.content-body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary-text);
    line-height: 20px;
    padding: 10px;
    width: 100%;
}

.school-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.school-logo img {
    height: 150px;
}

@media screen and (max-width: 1024px) {
    .accordion {
        width: 70%;
    }

    .content-header h4 {
        margin-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    .accordion {
        width: 90%;
    }

    .accordion-content-text {
        width: 100%;
    }

    
    .educ-title {
        font-size: var(--font-size-large);
        text-transform: uppercase;
        font-weight: 500;
    }
}

@media screen and (max-width: 600px) {
    .content-header h4,
    .content-header a {
        font-size: var(--font-size-medium);
    }

    .content-body {
        font-size: var(--font-size-xxs);
    }
}

@media screen and (max-width: 426px) {
    .accordion-item .accordion-content {
        flex-direction: column-reverse;
    }
    
    .content-header {
        flex-direction: column;
    }

    .accordion-title {
        font-size: var(--font-size-medium);
    }

    .content-body {
        text-align: center;
    }

    .educ-title {
        font-size: var(--font-size-large);
        text-transform: uppercase;
    }

    .accordion {
        width: 90%;
    }

    .accordion-title {
        font-size: var(--font-size-medium);
    }

    .content-header h4,
    .content-header a {
        font-size: var(--font-size-medium);
    }
    
    .school-logo {
        padding: 10px 0;
    }

    .school-logo img {
        height: 100px;
    }
}

@media screen and (max-width: 375px) {
    .content-body {
        padding: 0 15px;
    }
}

/* WORKS */
.works {
    height: auto;
    background: linear-gradient(to right, rgba(111, 111, 111, 0.100) .5px, transparent 1px),
    linear-gradient(to bottom, rgba(111, 111, 111, 0.100) .5px, transparent 1px);
    background-size: 20px 20px;
    background-position: center;
    padding-bottom: 50px;
}

.works-title h2 {
    color: var(--active-text);
    font-size: var(--font-size-h2);
    font-family: var(--title-font);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.cards {
    margin: 0 40px;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rect {
    display: flex;
    align-items: center;
    max-width: 95%;
    width: 70%;
	height: auto;
    margin: 1em 0;
    background: #fcfcfc;
    overflow: hidden;
    box-shadow: var(--accordion-shadow);
    border-radius: 3px;
}

.rect:nth-child(1) {
    background: var(--card1-bg);
}

.rect:nth-child(2) {
    background: var(--card2-bg);
}

.rect:nth-child(3) {
    background: var(--card3-bg);
}

.rect:nth-child(4) {
    background: var(--card4-bg);
}

.rect:nth-child(5) {
    background: var(--card5-bg);
}

.rect:nth-child(6) {
    background: var(--card6-bg);
}

.rect:nth-child(7) {
    background: var(--card7-bg);
}

.rect:nth-child(8) {
    background: var(--card8-bg);
    transition: var(--gen-transition);
}

.rect-content {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    padding: 20px 50px;
    position: relative;
}

.rect-content::before {
    content: "";
    left: 30px;
    position: absolute;
    display: inline-block;
    height: 100%;
    border-left: 4px solid var(--active-text);
    vertical-align: middle;
    margin-right: 0.5em;
    margin-left: -0.5em;
}

.rect-content h3 {
    font-family: var(--subheader-font);
    font-size: var(--font-size-h6);
    color: var(--active-text);
    text-transform: uppercase;
}  

.rect-content h5 {
    font-family: var(--default-font-family);
    color: var(--text-color);
    font-size: var(--font-size-xs);
    font-weight: 500;
    margin: 20px 0;
}

.rect-content a {
    font-size: var(--font-size-xs);
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 10px 25px;
    border: 2px solid var(--text-color);
    background: none;
    transition: all .1s linear;
}

.rect-content a:hover {
    background: var(--text-color);
    color: var(--primary-bg);
}

.rect-image {
    display: flex;
    width: 40%;
}

.rect-image img {
    object-fit: contain;
    height: 20rem;
    width: 100%;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

@media screen and (max-width: 1024px) {
    .rect {
        width: 85%;
    }
}

@media screen and (max-width: 768px) {
    .rect {
        width: 90%;
        flex-direction: column;
    }
    .cards {
        margin: 0;
    }
    .rect-content {
        width: 100%;
    }

    .rect-content::before {
        opacity: 0;
        justify-content: center;
    }

    .rect-content h3,
    .rect-content a {
        margin: auto;
    }
    
    .rect-image {
        width: 100%;
    }
    
    .works-title h2 {
        font-size: var(--font-size-h3);
    }
}

@media screen and (max-width: 600px) {
    .rect-content {
        padding: 30px;
    }

    .rect-content h3 {
        font-size: var(--font-size-large);
    }

    .rect-content h5 {
        font-size: var(--font-size-xxs);
    }

    .rect-image img {
        height: 14rem;
    }
}
@media screen and (max-width: 426px) {
    
    .rect {
        border-radius: 5px;
    }

    .rect-content {
        padding: 20px;
    }

    .rect-content h3 {
        text-align: center;
        font-size: var(--font-size-large);
    }

    .rect-image img {
        height: 10rem;
    }
}

.contact {
    height: auto;
    background: linear-gradient(to right, rgba(111, 111, 111, 0.100) .5px, transparent 1px),
    linear-gradient(to bottom, rgba(111, 111, 111, 0.100) .5px, transparent 1px);
    background-size: 20px 20px;
    background-position: center;
}

.contact-container {
    background: var(--contact-linear);
    padding-bottom: 150px;
}

.contact-title h2 {
    color: var(--active-text);
    font-size: var(--font-size-h2);
    font-family: var(--title-font);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-text {
    width: 50%;
    text-align: left;
    padding-top: 50px;
}

.contact-text h3 {
    font-family: var(--subheader-font);
    font-size: var(--font-size-h6);
    color: var(--active-text);
    text-transform: uppercase;
}

.contact-text p {
    font-size: var(--font-size-xs);
    color: var(--text-color);
    font-weight: 400;
}

.hello-button {
    margin: 25px 0;
}

.hello-button a {
    font-size: var(--font-size-xs);
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 10px 25px;
    border: 2px solid var(--text-color);
    background: none;
    transition: all .1s linear;
}

.hello-button a:hover {
    background: var(--text-color);
    color: var(--primary-bg);
}

.contact-image .me-logo {
    background: url(images/MeLogo.png);
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease-in-out;
}

.contact-image .me-logo.hover {
    background-image: url(images/background1.png);
}

.hello-button a:hover + .contact-image .me-logo {
    cursor: pointer;
}

@media  screen and (max-width: 768px) {
    .contact-title h2 {
        font-size: var(--font-size-h3);
    }
    
    .contact-image .me-logo {
        height: 230px;
        width: 230px;
    }

    .contact-text {
        padding: 0 20px;
        width: 60%;
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    .contact-content {
        flex-direction: column-reverse;
    }
    
    .contact-image .me-logo {
        background-image: url(images/downlook.png);
        height: 200px;
        width: 200px;
    }
    
    .contact-image .me-logo.hover {
        background-image: url(images/downlook2.png);
    }

    .contact-text {
        padding: 20px;
        width: 90%;
        text-align: center;
    }
}
